
.alert-blur{
    height: 100vh;
    width: 100vw;
    z-index: 100;
    position: fixed;
    background-color: rgba(27, 27, 27, 0.6);
}
.alert-button img{
    width: 70px;
    height: auto;
    overflow: hidden;
    padding: 0;
    position: fixed;
    top: 380px;
    right: 50px;
    mix-blend-mode: multiply;
    z-index: 101;
}

.alert-types{
    position:fixed;
    top: 158px;
    right: 53px;
    display: flex;
    flex-direction: column;
    z-index: 102;
}

.alert-item{
height: 46px;
width: 146px;
border-radius: 8px;
margin-bottom: 5px;
margin-left: 10px;
display: flex;
justify-content: center;
align-items: center;
backdrop-filter: blur(5px);
}

.alert-item:hover{
    height: 46px;
width: 146px;;
border: 3px solid black;
}

.alert-row{
    display: flex;
    justify-content: end;
    align-items: center;
}

.red-alert{
    background-color: rgba(255, 87, 51,0.7);
}

.blue-alert{
    background-color: rgba(57, 67, 250,0.7);
}

.yellow-alert{
    background-color: 	rgba(255,255,0,0.7);
}

.pink-alert{
    background-color: 	rgba(255,192,203,0.7);
}