img{
    position: absolute;
    width: 38px;
    height: 32px;
    top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav{
    background-color: #E8F3F1;
    height: 70px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: center;
    font-size: ;
    position: relative;
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item p{
    position: absolute;
    bottom: 0;
    font-size: 12px;
    font-weight: bold;
}

.container-nav{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.floor-building-bar{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 70px;
    right :35px;
    background-color: #E8F3F1;
    padding: 20px;
    padding-top: 0;

}

.select-item{
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
}