@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.patient-card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.card{
    width: 350px;
    height: 170px;
    background-color: #75BCD2;
    border-radius: 15px;
    box-shadow: 49px 44px 82px -41px rgba(0,0,0,0.47);
    margin: 20px;
    display: flex;
    justify-content: space-between;
    font-family: "Inter", sans-serif;
    
}



.row-1 p{
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    padding-top: 40px;
    padding-left: 25px;
    color: aliceblue;
}

.row-2 p{
    font-size: 24px;
    font-weight: 800;
    margin: 0;
    padding-top: 5px;
    padding-left: 25px;
    
}

.row-3 p{
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    padding-top: 10px;
    padding-left: 25px;
    color: aliceblue;
}

.row-4 p{
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    margin: 0;
    padding-left: 25px;
    padding-top: 5px;
    
}

.col-1{
    
}
.col-2{
    height: 170px;
    width: 150px;
    border: 0;
    background-color: azure;
    border: 5px solid #75BCD2;
border-radius: 0 15px 15px 0;
    color: #75BCD2;
}

.drop-down-menu img{
    position: absolute;
    display: inline-block;
    right: 90px;
    top: 11px;
    width: 30px;
    height: 30px;
    z-index: 1;
}