.inp-container{
    display: flex;
    flex-direction: column;
    width: 500px;
    position: absolute;
    top:180px;
    left: 140px;
    justify-content: center;
    align-items: center;

}


.inp-field{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
}

.inp-but{
    width: 250px;
    height: 50px;
    border-radius: 15px;
    background-color: aqua;
}

.logo{
    width: 450px;
    height: auto;
    position: absolute;
    top: -30px;
    left: 140px;

}