.details-container-inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.details-container-outer{
    padding-right: 100px;
    padding-left: 100px;
}
.personal-item{
    margin-top: 0;
    margin-bottom: 5px;
}

.patient-name{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.diseases-name{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.medication-container{
    display: flex;
    flex-direction: column;
    padding-left: 80px;
}

.medication-cards{
    width: 80%;
    background-color: aqua;
    margin-top: 10px;
    padding-left: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.medication-cards button{
    height: 40px;
}