@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto", sans-serif;
}

.details-container-inner{
    display: flex;
    flex-direction: row;
    background-color: #aad0d8;
    padding-left: 140px;
    border-radius: 5px;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 1.1rem;
}

.details-container-outer{
    position: relative;
}
.personal-item{
    margin-top: 0;
    margin-bottom: 5px;
}

.patient-name{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    position: relative;
    z-index: 80;
}

.diseases-name{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
}
.doctors-name{
    margin-top: 0;
}

.medication-container{
    display: flex;
    flex-direction: column;
    padding-left: 80px;
}

.medication-cards{
    width: 80%;
    height: 90px;
    background-color: #aad0d8;
    margin-top: 10px;
    border-radius: 20px;
    display: flex;
    padding-left: 65px;
    align-items: center;
    justify-content: space-between;
}   

.medication-cards button{
    height: 40px;
    width: 40px;
    border: 0;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 1px #000000);
    margin-right: 100px;
}

.sensor-container{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    padding-left: 140px;
}

.temp-alert{
    position: fixed;
    height: 30px;
    width: 250px;
    background-color: aqua;
    z-index: 101;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-high,.alert-overflow{
    position: fixed;
    height: 300px;
    width: 500px;
    background-color:aquamarine;
    z-index: 101;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
}

.alert-temp{
    font-size: 20px;
    font-weight: bold;
}

.close-btn{
    width: 200px;
    height: 70px;
    border-radius: 20px;
    border: 2px solid aqua;
    font-size: 18px;
}

.iv-alert
{
    position: fixed;
    height: 30px;
    width: 250px;
    background-color: aqua;
    z-index: 101;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.patient-det-text{
    margin-left: 80px;
}

.personal-info{
    margin-left: 180px;
}

.checkbox-temp{
    margin-left: 245px;
}

.medicine-name{
    font-weight: bold;
    font-size: 1.1rem;
}

.history-card{
    height: 120px;
}