@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto", sans-serif;
}

.input-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 30px;
}

.input-searchbox{
    width: 400px;
    height:50px;
    border-radius: 20px;
    padding-left: 50px;
    padding-right: 50px;

}

.input-button{
    height: 40px;
    width: 100px;
    border-radius: 15px;
}

.disease-card-container{
    padding-top: 30px;
    padding-left: 100px;
}

.disease-card{
    width: 540px;
    padding:30px;
    background-color: #aad0d8;
    border-radius: 30px;
    box-shadow: 49px 44px 82px -41px rgba(0,0,0,0.47);
    margin-bottom: 20px;
}

.disease-name h3{
    font-size: 1.5rem;
    margin-top: 0;
}

.disease-desc{
    margin-bottom: 1rem;
}

.disease-symptom{
    margin-bottom: 1rem;
}